.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.text_wisteria {
    color: #44ad52;
}

.bg_wisteria {
    background-color: #44ad52;
}

.fit_content_ {
    width: fit-content;
}